@use "../../abstracts/colors" as c;
@use "../../abstracts/mixins" as m;
@use "../../abstracts/variables" as v;

.reassurance-section{
    background: linear-gradient(180deg, rgb(255, 255, 255), #cdb8fa);
    display: flex;
    flex-flow: column;
    align-items: center;
    .reassurance-description{
        max-width: 80%;
        @include m.media(xl){
            max-width: 50%;
        }
        color: c.$text;
        padding: 1rem;
        text-align: center;
        h1{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .r-description{
            font-weight: 100;
            div{
                margin-top: 1rem;
                font-weight: bold;
            }
            
        }
    }
    .reassurance-cards{
        display: flex;
        flex-flow: column;
        align-items: center;
        .card-small{
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 200px;
            text-align: left;
            &:nth-child(2){
                svg{
                    fill: c.$primaryBright;
                }
                h3{
                    div{
                        color: c.$primaryBright;
                    }
                }
            }
            &:nth-child(3){
                svg{
                    fill: c.$failure;
                }
                h3{
                    div{
                        color: c.$failure;
                    }
                }
            }
        }
        @include m.media(xl){
            width: 100%;
            flex-flow: row;
            justify-content: center;
            .card-small{
                height: 300px;
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }
    }
    .reassurance-background{
        margin-top: 4rem;
        background: #ffff;
        width: 100%;
        svg{
            width: 100%;
            min-height: 48px;
            fill: rgba(205, 184, 250, 0.9);
        }
    }
}