@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
.card-small{
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: 2rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 4px rgba(255, 255, 255, 0.6);
    .card-icon{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        svg{
            width: 2.5rem;
            fill: #7545d9;
        }
    }
    h3{
        color: #280460;
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        font-weight: bold;
        font-size: 3rem;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        div{
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: #7545d9;
        }
    }
    p{
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        padding-left: 0.8rem;
        font-size: 1rem;
        color: #7b6dab;
    }
}

.card-gold{
    color: c.$text;
    width: 280px;
    height: 360px;
    background: linear-gradient(180deg, #fdab32, #ffd800);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 0 4px c.$binance;
    font-size: 0.8rem;
    .card-icon{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        svg{
            width: 2.5rem;
        }
    }
    
    p{
        display: inline-block;
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        font-size: 1rem;
    }
    div{
        div{
            font-size: 2.5rem;
        }
        p:nth-child(4){
            margin-top: 1rem;
            font-weight: 100;
        }
    }
    
}