@use "../abstracts/colors" as v;
.card-small{
    width: 150px;
    height: 150px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    .card-icon{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-grow: 1;
        svg{
            width: 1.5rem;
            fill: #7545d9;
        }
    }
    h3{
        color: #280460;
        margin: 0;
        padding: 0;
        font-weight: bold;
        div{
            color: #7545d9;
        }
    }
    p{
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        font-size: 0.5rem;
        color: #7b6dab;
    }
}

.card-gold{
    color: v.$text;
    width: 220px;
    height: 280px;
    background: linear-gradient(180deg, #fdab32, #ffd800);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 0 4px v.$binance;
    font-size: 0.8rem;
    .card-icon{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        svg{
            width: 1.5rem;
        }
    }
    
    p{
        display: inline-block;
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        
    }
    div{
        div{
            font-size: 2rem;
        }
        p:nth-child(4){
            margin-top: 1rem;
            font-weight: 100;
        }
    }
    
}