body{
    background-color: black;
}
#card{
    width: 200px;
    height: 200px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    #card-banner{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-grow: 1;
        svg{
            fill: #7545d9;
        }
    }
    h1{
        color: #280460;
        margin: 0;
        font-weight: bold;
        div{
            color: #7545d9;
        }
    }
    p{
        color: #7b6dab;
    }
}